.logo_petE{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.vet-header{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', Helvetica;
  font-weight: 700;
  color: #113179;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: 96px;
  white-space: nowrap;
  margin-top: 100px;
  margin-bottom: 100px;
}


.Vet {
  text-align: center;
}

.vet-info{
  margin-bottom: 50px;
  max-width: 90%;
  margin-left: 90px;
  margin-right: auto;
}

.Vet img{
  width: 100%;
  border-radius: 40px;
  margin-top: 50px;
}

.vet-name{
  font-family: 'Montserrat', Helvetica;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 30px;
}

.vet-name:hover{
  font-size: 24px;
  color:orange;
}


.vet-h1{
  font-family: 'Montserrat', Helvetica;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 30px;
}

.vet-h1:hover{
  font-size: 24px;
  color:orange;
}

.vet-info-1{
  font-family: 'Montserrat', Helvetica;
  font-weight: 500;
  color: black;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: left;
  background-color: #b0bfeb;
  border-radius: 40px;
}

.vet-p{
  margin-top: 20px;
  margin-bottom: 20px; ;
}


.vet-final{
  font-family: 'Montserrat', Helvetica;
  font-weight: 900;
  color: #113179;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}



@media screen and (max-width: 768px){
  .header{
      display: block;
      text-align: center;
  }
  .header img{
      width: 20%;
  
  }
}




