.doctor-info-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f0fe;
  height: 300px;
}

.doctor-info .vet-header h1 {
  font-family: Roboto, sans-serif;
  color: #194893;
  font-size: 40px;
  line-height: 1.618;
  letter-spacing: 0;
  white-space: nowrap;
}

.doctor-info .vet-header p {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.618;
  letter-spacing: 0;
  white-space: nowrap;
}



.doctor-info .logo_petE img {
  border-radius: 100px;
  object-fit: cover;
  width: 500px;
  height: 200px;
}

.doctor-info .vet {
  margin: 100px 0;
}

.doctor-info .vet-info {
  padding: 0;
  margin: 0;
  height: 700px;
}

.doctor-info .vet-info-right {
  padding: 0;
  margin: 0;
  height: 700px;
}

.doctor-info .vet-information-2 {
  
}

.doctor-info .vet img {
  width: 100%;
}

.image-vet {
 height: 420px;
 width: 100%;
}

.doctor-info .vet-info-img{
  padding: 0;
  margin: 0;
}


.doctor-info .vet-h1 {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 30px;
}

.doctor-info .vet-h1:hover {
  font-size: 24px;
  color: orange;
}

.doctor-info .vet-info-1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: black;
  font-size: 16px;
  text-align: left;
  background-color: #EAFAFF;
  height: 420px;
}

.doctor-info .vet-info-2 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: black;
  font-size: 16px;
  text-align: right;
  background-color: #EAFAFF;
  height: 420px;
}


.doctor-info .vet-p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.doctor-info .vet-final {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}


.vet-information-1 .vet-name {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 50px;

}

.vet-information-2 .vet-name {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;

}

.vet-information-3 .vet-name {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 50px;

}

.vet-information-4 .vet-name {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 50px;

  display: flex;
  justify-content: flex-end;
}

.vet-information-5 .vet-name {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 50px;

}

.vet-information-6 .vet-name {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #113179;
  font-size: 20px;
  margin-top: 50px;

  display: flex;
  justify-content: flex-end;
}

.introduction-vet-info {
  font-family: Roboto, sans-serif;
}

.introduction-vet-info-right {
  font-family: Roboto, sans-serif;
 text-align: right;
}

@media screen and (max-width: 768px) {
  .doctor-info .header {
    display: block;
    text-align: center;
  }
  .doctor-info .header img {
    width: 20%;
  }
}
