.all-vet {
  box-sizing: border-box;
  overflow: hidden;
}

.all-vet .main-header {
  width: 100%;
  background-color: #f8f9fa;
  box-sizing: border-box;
  z-index: 2;
}

.all-vet .sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #002169;
  box-sizing: border-box;
}

/* logo */
.all-vet .logo {
  width: 195px;
  height: 39px;
  object-fit: cover;
  margin-left: 3%;
}

/* image in slider */

.all-vet .service-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f0fe;
  height: 300px;
}

.all-vet .overlap-vet-slider {
  border-radius: 100px;
  object-fit: cover;
  width: auto;
  height: auto;
  justify-content: center;
  text-align: center;
  display: block;
}

.all-vet .vet-header h1 {
  font-family: Roboto, sans-serif;
  color: #194893;
  font-size: 40px;
  line-height: 1.618;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
  margin-right: -450px;
}

.all-vet .vet-header p {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.618;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
  margin-right: -450px;
}

.vet-slider {
  margin-top:70px;
  display: flex;
  align-items: center;
  background-color: #c8d7f7;
}

.vet-header{
  margin-right: -30px;
}

/* tittle 'choose the best care' */
.all-vet .vet-tittle {
  width: 100%;
  height: 399px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* text 'choose the best care' */
.all-vet .vet-title-text {
  width: 100%;
  text-shadow: 0px 4px 4px #00000040;
  color: #002169;
  font-size: 40px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

/* vet part */
.vet-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.all-vet .vet-picture,
.all-vet .content-vet {
  width: 100%;
  height: 100%;
}

/* image vet */
.all-vet .vet-picture {
  width: 100%;
  height: 800px;
  display: flex;
}

.all-vet .avatar-vet {
  width: 100%;
  height: 700px;
  border-radius: 0px 1000px 1000px 0px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.all-vet .img-service-vet {
  object-fit: cover;
  width: 100%;
}

/* content vet */
.all-vet .content-vet {
  width: 100%;
  height: 800px;
}

.all-vet .list-item-vet {
  font-family: Roboto, sans-serif;
  align-items: flex-start;
  left: 120px;
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 650px;
  padding: 24px;
  margin-left: 20%;
  background-color: #ffffff;
}

.all-vet .content-list-vet {
  align-self: stretch;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.all-vet .title-text-content-vet{
  font-family: Roboto, sans-serif;
  color: #002169;
  font-size: 25px;
  letter-spacing: -0.72px;
  line-height: 50.4px; 
}


.all-vet .text-vet {
  position: relative;
  width: 600px;
  height: 215px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  align-items: center;
}

.vet-p{
  margin-bottom: 7px;
}


.all-vet .title-services-vet {
  font-family: Roboto, sans-serif;
  color: #002169;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 50.4px;
}

/* vet2 part */
.all-vet .vet-part2 {
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.all-vet .picture-vet2,
.all-vet .content-vet2 {
  width: 100%; 
  height: 800px; 
  display: flex;
  justify-content: flex-end;
}

/* image vet2 */
.all-vet .picture-vet2 {
  width: 100%;
  height: 800px;
}

.all-vet .avatar-vet2 {
  width: 100%;
  height: 700px;
  border-radius: 1000px 0px 0px 1000px;
  position: relative;
  background-color: #f7f7f7;
  overflow: hidden;
}

.all-vet .content-vet2 {
  width: 100%;
  height: 800px;
}

.all-vet .list-vet2 {
  font-family: Roboto, sans-serif;
  align-items: flex-end;
  left: 199px;
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 650px;
  gap: 45px;
  padding: 24px;
  background-color: #ffffff;
  margin-right: 20%;
}

.all-vet .list-vet2-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #002169;
  font-size: 36px;
  text-align: right;
  letter-spacing: -0.72px;
  line-height: 50.4px;
}

.all-vet .list-vet2-item {
  width: 600px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}
.all-vet .list-vet2-item-text {
  align-items: flex-end;
  flex-direction: column;
}

.all-vet .vet2-text-name {
  font-family: Roboto, sans-serif;
  color: #002169;
  font-size: 25px;
  letter-spacing: -0.72px;
  line-height: 50.4px;

}

.all-vet .list-vet2-text {
  position: relative;
  width: 600px;
  height: 215px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #444444;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  align-items: center;
}
