.manage-sick-pet .manage-sick-pet-title {
    margin: 70px 0 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .manage-sick-pet .manage-sick-pet-title-text {
    width: fit-content;
    margin-top: -1px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: #4f3c3c;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 60px;
    white-space: nowrap;
  }
  
  .manage-sick-pet-content {
    padding: 0 !important;
    display: flex;
  }
  
  .manage-sick-pet .manage-booking-main-content {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .manage-sick-pet .main-content-header {
    display: flex;
    height: 100px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-left: 1px solid #dedddd;
    background-color: #ebebeb;
  }
  
  .manage-sick-pet .main-content-header-search {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    gap: 4.63px;
  }
  
  .manage-sick-pet .main-content-header-search-title {
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    margin-bottom: 0 !important;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
    letter-spacing: 0;
  }
  
  .manage-sick-pet .main-content-header-search-input-wrapper {
    border: 1px solid #c3c3c3;
    align-items: center;
    gap: 14.43px;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .manage-sick-pet .search-input-btn {
    position: absolute;
    width: 50px;
    height: 32px;
    right: 0px;
    top: 0;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .manage-sick-pet .search-input-btn:hover {
    cursor: pointer;
  }
  
  .manage-sick-pet .search-input-btn-icon {
    position: absolute;
    top: 7px;
    right: 15px;
    width: 20px;
  }
  
  .manage-sick-pet .main-content-header-search-input {
    border-radius: 5px;
    width: 350px;
    padding-left: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    overflow: hidden;
    border: none;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .manage-sick-pet .main-content-header-search-input:focus {
    outline: none;
  }
  
  .manage-sick-pet .main-content-header-add-booking {
    margin-right: 25px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
  }
  
  .manage-sick-pet .booking-btn-add {
    background-color: #e18213;
    height: 45px;
    outline: none;
    border: none;
    color: #fff;
    width: 100px;
    border-radius: 10px;
  }
  
  .manage-sick-pet .booking-btn-add:hover {
    background-color: #002169;
    cursor: pointer;
  }
  
  .manage-sick-pet .main-content-list {
    margin: 0px;
  }
  
  .manage-sick-pet .main-content-list-title {
    display: flex;
    justify-content: space-around;
  }
  
  .manage-sick-pet .main-content-list-title-text {
    padding-left: 10px;
    line-height: 40px;
    border-left: 1px solid #eaecf0;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    font-family: Roboto, sans-serif;
  }

  .manage-sick-pet .main-content-list-title-text-info {
    padding-left: 10px;
    line-height: 40px;
    border-left: 1px solid #eaecf0;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
  .manage-sick-pet .content-list-body-info {
    display: flex;
    justify-content: space-around;
  }
  
  .manage-sick-pet .content-list-body-value {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }
  .manage-sick-pet .content-list-body-value:hover {
    opacity: 0.6;
  }
  
  .manage-sick-pet .content-list-body-value .content-list-body-checkbox {
    width: 20px;
    height: 20px;
  }

  .manage-sick-pet .content-list-body-value-button-info { 
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      border-left: 1px solid #eaecf0;
      border-top: 1px solid #eaecf0;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
  }
  
  .pagination_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }
  .pagination_wrapper nav {
    margin-top: 70px;
  }
  
  /* modal update for doctor */
 
  .modal-body-sick-pet {
    background-color: #fff;
    border-color: #fff;
    font-family: Roboto, sans-serif;
    margin: 30px 20px;
    display: flex;
    align-items: center
  }

  .content-modal-sick-pet {
    display: flex;
    flex-direction: column; 
    gap: 16px; 
  }
  
  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px; 
  }
  
  .font-weight-bold{
    font-weight: 600;
    font-size: 20px;
  }

  .title-reason-sick-pet{
    color: #004cb9;
    font-weight: 600;
  }

  .mb-3 {
    grid-row: span 2; /* Để dòng này nằm riêng giữa hai phần trên và dưới */
  }
  
  .close {
    color: #000;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  
  
  .theme-color{
  
    color: #004cb9;
  }
  hr.new1 {
    border-top:  dashed #fff;
    margin: 0.4rem 0;
  }
  
  .form-control {
    margin-top: 10px;
  }
  
  