@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,600|Inter:500,var(--presets-body2-font-weight),var(--body-text-font-weight)');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}

a {
  text-decoration: none;
}

.slide {
  width: 100%;
  width: 100%;
}

.main-container-your-booking-page {
  width: 100%;
}

.main-container-your-booking-page .status-booking {
  font-weight: bold;
  margin-left: 10px;
}

.main-container-your-booking-page .status-pending {
  color: red;
}

.main-container-your-booking-page .status-completed {
  color: green;
}

.main-container-your-booking-page .row-your-booking {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-container-your-booking-page .main-tittle-your-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.main-container-your-booking-page .overlap-group-booking {
  background-color: #ffffff;
}

.main-container-your-booking-page .text-tittle-your-booking {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #425bb3;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60%;
}

.main-container-your-booking-page .overlap-booking {
  display: flex;
}
.main-container-your-booking-page .main-content-booking {
  width: 100%;
}

.main-container-your-booking-page .your-Pet-Header-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f3f3;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  height: 84px;
}

.main-container-your-booking-page .search-pet-booking {
  padding-left: 20px;
}

.main-container-your-booking-page .search-pet-txt-booking {
  font-size: 18px;
  margin: 10px 0;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  white-space: nowrap;
}

.main-container-your-booking-page .search-pet-input-booking {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.main-container-your-booking-page .search-pet-input-icons-booking {
  background-color: #ffffff;
  line-height: 33px;
  text-align: center;
  width: 40px;
  border: 1px solid #e4e3e3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-container-your-booking-page .search-pet-input-icons-booking:hover {
  cursor: pointer;
}

.main-container-your-booking-page .search-pet-input-booking input[type='text'] {
  height: 35px;
  width: 300px;
  outline: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
  padding-left: 10px;
  border: 1px solid #e4e3e3;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-container-your-booking-page .detail-information-booking {
  font-family: Roboto, sans-serif;
}

.main-container-your-booking-page .info-detail-booking {
  width: 100%;
  margin: 10px 0;
  padding: 0 15px;
}

.main-container-your-booking-page .mini-title-detail-booking {
  font-weight: 600;
}

.main-container-your-booking-page .detail-booking-confirm-booking {
  width: 100%;
  border: 1px solid #d5d2d2;
  border-radius: 10px;
}

.main-container-your-booking-page .card-detail-booking-confirm-booking {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-container-your-booking-page .card-ID-booking {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 15px 15px;
  font-size: 16px;
}

.main-container-your-booking-page .detail-number-ID {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}

/* status of booking */
.main-container-your-booking-page .status-booking-1 {
  font-weight: 400;
  color: #d24441;
}

.main-container-your-booking-page .status-booking-2 {
  font-weight: 400;
  color: #45a049;
}

.main-container-your-booking-page .status-booking-3 {
  font-weight: 400;
  color: #45a049;
}

.main-container-your-booking-page .card-body-content-booking .col-booking {
  margin-bottom: 10px;
}

.main-container-your-booking-page .text-card-body-content-booking {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.main-container-your-booking-page .card-title-detail-booking:first-child {
  border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}

.main-container-your-booking-page .card-title-detail-booking {
  background-color: #fff;
}

.main-container-your-booking-page .price-cancel-rate-booking {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các cột nếu cần */
}

.main-container-your-booking-page .total-price-booking {
  display: flex;
  grid-column: 1 / 2;
  font-weight: 600;
  color: #425bb3;
}

/* button cancel */
.main-container-your-booking-page .cancel-booking-button-1 {
  color: #ffffff;
  background-color: #e18213;
  border-radius: 8px;
  padding: 15px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main-container-your-booking-page .cancel-booking-button-1:hover {
  color: #ffffff;
  background-color: #182155;
  border-radius: 8px;
  text-decoration: none;
}

.main-container-your-booking-page .cancel-booking-button-2 {
  color: #ffffff;
  background-color: #cccc;
  border-radius: 8px;
  padding: 15px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main-container-your-booking-page .cancel-booking-button-2:hover {
  color: #ffffff;
  background-color: #182155;
  border-radius: 8px;
  text-decoration: none;
}

.main-container-your-booking-page .cancel-booking-button-3 {
  color: #ffffff;
  background-color: #cccc;
  border-radius: 8px;
  padding: 15px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main-container-your-booking-page .cancel-booking-button-3:hover {
  color: #ffffff;
  background-color: #182155;
  border-radius: 8px;
  text-decoration: none;
}

/* button feedback */
.main-container-your-booking-page .feedback-rate-booking {
  color: #ffffff;
  background-color: #e18213;
  border-radius: 8px;
  padding: 11px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
}

.main-container-your-booking-page .feedback-rate-booking:hover {
  color: #ffffff;
  background-color: #182155;
  border-radius: 8px;
  text-decoration: none;
}

.main-container-your-booking-page .add-pet_pagination {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

/* modal rating css */

.main-container-your-booking-page .modal-body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-container-your-booking-page .rating-container {
  background-color: #e9e4f0;
  padding: 20px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.main-container-your-booking-page .rating-container h2 {
  margin-top: 0;
}

.main-container-your-booking-page .title-rate {
  margin: 10px;
}

.main-container-your-booking-page .main-title-rate {
  font-size: 20px;
  color: #898484;
  display: flex;
  justify-content: center;
}

.main-container-your-booking-page .modal-title {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-align: center;
  flex: 1 1;
}

.main-container-your-booking-page textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  color: #000; /* Màu chữ bình thường */
  font-weight: 400; /* Font weight chữ bình thường */
}

.main-container-your-booking-page textarea::placeholder {
  color: #cccc; /* Màu chữ của placeholder */
  font-weight: 200; /* Font weight chữ của placeholder */
}

.main-container-your-booking-page .rating-button {
  background-color: #4a00e0;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  width: calc(100% - 20px);
}

.main-container-your-booking-page .rating-button:hover {
  background-color: #45a049;
}

.main-container-your-booking-page .button-secondary {
  font-size: 16px;
  font-weight: 100;
  border: none;
  background-color: #ffff;
  color: #4a00e0;
}

.main-container-your-booking-page .maybe-later {
  color: #888;
  cursor: pointer;
}

.main-container-your-booking-page .maybe-later:hover {
  text-decoration: underline;
}

.main-container-your-booking-page .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.main-container-your-booking-page .rating > input {
  display: none;
}

.main-container-your-booking-page .rating > label {
  position: relative;
  width: 1em;
  font-size: 40px;
  font-weight: 300;
  color: #f2994a; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  cursor: pointer;
}

.main-container-your-booking-page .rating > label::before {
  content: '\2605';
  position: absolute;
  opacity: 0;
}

.main-container-your-booking-page .rating > label:hover::before,
.rating > label:hover ~ label::before {
  opacity: 1 !important;
}

.main-container-your-booking-page .rating > input:checked ~ label::before {
  opacity: 1;
}

.main-container-your-booking-page
  .rating:hover
  > input:checked
  ~ label::before {
  opacity: 0.4;
}

.main-container-your-booking-page .modal-footer {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
