.main-statistic .Admin-DashBoard-Main_Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 3%;
}

.main-statistic .Admin-DashBoard-Main_Title-Left {
  font-family: Roboto, sans-serif;
}

.main-statistic .Admin-DashBoard-Main_Title-Left-Intro {
  color: #242f48;
  font-weight: 600;
  font-size: 20px;
  text-indent: -1px;
  line-height: 1;
  margin-bottom: 5px;
}

.main-statistic .Admin-DashBoard-Main_Title-Left-text {
  color: #78829a;
  font-weight: 400;
  font-size: 12px;
}

.main-statistic .Admin-DashBoard-Main_Title-Right {
  font-family: Roboto, sans-serif;
}

.main-statistic .Admin-DashBoard-title-Star {
  color: #78829a;
  font-size: 13px;
}

.main-statistic .Admin-DashBoard-Star span {
  font-size: 13px;
  margin-left: 5px;
}

.main-statistic .Admin-DashBoard-Main-ChooseDate {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  margin: 25px 20px 0 3%;
}

.main-statistic .Admin-DashBoard-Main-ChooseDate_Text {
  margin-right: 10px;
}

.main-statistic .Admin-DashBoard-Main-Header {
  margin: 40px 0 0 0;
  font-family: Roboto, sans-serif;
  padding: 0;
  justify-content: space-evenly;
}

.main-statistic .Admin-DashBoard-Main-Header-Income {
  background-color: white;
  border-radius: 8px;
  width: 260px;
  border: 1px solid #eae8f1;
  box-shadow: -2px 4px 18px #dadee8;
}

.main-statistic .Admin-DashBoard-Main-Header-Note {
  padding-top: 3%;
  color: #696cff;
  font-size: 15px;
}

.main-statistic .Admin-DashBoard-Main-Header-Money {
  line-height: 60px;
  font-size: 22px;
  font-weight: 600;
}

.main-statistic .Admin-DashBoard-Main-Header-Percent {
  padding-bottom: 3%;
  font-size: 14px;
  color: #828282;
}

.main-statistic .Admin-DashBoard-No-Data {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
  justify-content: center;
  display: flex;
}
