.petExam-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d3cece;
  font-family: Arial, sans-serif;
}

.petExam-container {
  background-color: white;
  padding: 25px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.petExam-details .petExam-info{
  font-family: Roboto, sans-serif;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
}

.success-icon {
  font-size: 60px;
  color: #4CAF50;
  margin-top: 30px;
  margin-bottom: 20px;
}

.petExam-message {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #113179;
  margin-bottom: 20px;
}

.petExam-details {
  text-align: left;
  margin-bottom: 20px;
}

.petExam-script {
  font-size: 18px;
  color: #4CAF50;
  margin-bottom: 20px;
  font-weight: 700;
}

.petExam-button {
  display: inline-block;
  background-color: #113179;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border:none;
  margin-top: 20px;
}

.petExam-button:hover {
  background-color: orange;
}

@media screen and (max-width: 768px){
  .header{
      display: block;
      text-align: center;
  }
  .header img{
      width: 20%;
  
  }
}