
.form-petE {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.form-petExam-1 {
  flex: 1 1 calc(33.333% - 20px); 
  box-sizing: border-box;
}

.form-petExam-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

.form-petExam-3 .textarea-container {
  flex: 1 1 calc(50% - 20px); 
  box-sizing: border-box;
}

.form-petExam-3 textarea {
  width: 100%;
  height: 80px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  padding: 10px;
  resize: vertical;
  overflow: auto;
  word-wrap: break-word;
}

.form-petExam-vaccine, .final-petE {
  flex: 1 1 100%; 
  box-sizing: border-box;
}


.petExam-record {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #F5F3F3;
}

.petExam-record .nav-head {
  width: 100%;
  display: flex;
  justify-content: right;
  background-color: #113179;
}

.petExam-record .nav-head {
  display: flex;
  align-items: center;
}

.petExam-record .nav-logo {
  height: 40px;
  margin-right: 10px;
}

.petExam-record .icon_user {
  margin-left: auto;
}

.petExam-record .petE-head {
  text-align: center;
}

.petExam-record .petE-tittle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'Montserrat', Helvetica;
  font-weight: 700;
  color: #1e5d94;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
  margin-top: 100px;
  margin-left: 40px;
}

.petExam-record .petE-tittle-1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', Helvetica;
  text-align: center;
  font-weight: 500;
  color: #1e5d94;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
  margin-top: -10px;
  margin-left: 40px;
}

.petExam-record .petE-tittle-2 {
  text-align: center;
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 50px;
  color: #113179;
  font-family: Roboto, sans-serif;
}

.petExam-record .form-petE {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 1100px;
  height: 950px;
  margin: 50px auto;
  padding: 50px;
  color: #113179;
  background-color: #fff;
}

.petExam-record .form-petExam {
  margin-right: 50px;
  margin-left: 20px;
}

.petExam-record .form-petExam-2 {
  margin-right: 50px;
}

.petExam-record .form-petExam-vaccine {
  height: 80px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  resize: vertical;
}

.petExam-record .form-petExam-vaccine .pet-info-2 {
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.petExam-record .pet-info-1 {
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.petExam-record .petE-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #8f8c8c;
  border-radius: 10px;
}

.petExam-record .petE-info {
  font-family: Roboto, sans-serif;
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
  color: green;
}

.petExam-record .btn-save,
.btn-cancel {
  display: inline-block;
  padding: 0px 20px;
  font-size: 16px;
  margin-top: 130px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
  width: 100px;
  height: 50px;
}

.petExam-record .btn-save::before,
.btn-cancel::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: orange; 
  transition: left 0.3s ease;
  z-index: -1;
}

.petExam-record .btn-save:hover::before,
.btn-cancel:hover::before {
  left: 0;
}

.petExam-record .btn-save:hover,
.btn-cancel:hover {
  color: #fff; 
}

.petExam-record .btn-save {
  background-color: #113179;
  color: #fff;
  border: none;
  margin-right: 20px;
  margin-left: 50px;
}

.petExam-record .btn-cancel {
  background-color: #6c757d;
  color: #fff;
  border: none;
}

.petExam-record .final-petE {
 display: flex;
 justify-content: flex-end;
 margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    text-align: center;
  }
  .header img {
    width: 20%;
  }
}

.petExam-record .selected-vaccines-container {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 125px; 
  overflow-y: auto; 
}

.petExam-record .selected-vaccine {
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 3px;
  background-color: #009131;
  color: white;
}

.petExam-record .selected-vaccines-container.visible {
  display: flex;
}

 .modal-body-exam-record input[type="checkbox"] {
  margin-right: 10px;
  font-family: Roboto, sans-serif;
}

 .modal-body-exam-record label {
  margin-right: 20px;
  font-family: Roboto, sans-serif;
}

.modal-body-exam-record {
  max-height: 300px; 
  overflow-y: auto; 
  font-family: Roboto, sans-serif;
  padding: 20px;
  display: grid;
  gap: 20px;
}
