.manage-booking-list {
  font-family: 'Roboto', sans-serif;
}

.manage-booking-list .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

.manage-booking-list .manage-booking-list-title {
  margin: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.manage-booking-list .manage-booking-list-title-text {
  width: fit-content;
  margin-top: -1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #4f3c3c;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.manage-booking-list-content {
  margin-bottom: 50px;
  padding: 0 !important;
  display: flex;
}

.manage-booking-list .manage-booking-main-content {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.manage-booking-list .main-content-header {
  display: flex;
  height: 100px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  border-left: 1px solid #dedddd;
  background-color: #ebebeb;
}

.manage-booking-list .main-content-header-search {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  gap: 4.63px;
}

.manage-booking-list .search-button {
  display: inline-block;
  padding: 3px 10px;
  margin-left: 5px;
  width: 70px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
}

.manage-booking-list .search-button:hover {
  background-color: #0056b3;
}

.manage-booking-list .main-content-header-search-title {
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  margin-bottom: 0 !important;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
}

.manage-booking-list .main-content-header-search-input-wrapper {
  border: 1px solid #c3c3c3;
  align-items: center;
  gap: 14.43px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
}

.manage-booking-list .search-input-btn {
  position: absolute;
  width: 50px;
  height: 32px;
  right: 0px;
  top: 0;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.manage-booking-list .search-input-btn:hover {
  cursor: pointer;
}

.manage-booking-list .search-input-btn-icon {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 20px;
}

.manage-booking-list .main-content-header-search-input {
  border-radius: 5px;
  width: 350px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  overflow: hidden;
  border: none;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.manage-booking-list .main-content-header-search-input:focus {
  outline: none;
}

.manage-booking-list .right-header-content {
  display: flex;
  align-items: center;
  margin-right: 15px;
  gap: 20px;
}

.manage-booking-list .main-content-header-add-booking {
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.manage-booking-list .booking-btn-add {
  background-color: #e18213;
  height: 45px;
  outline: none;
  border: none;
  color: #fff;
  width: 100px;
  border-radius: 10px;
}

.manage-booking-list .booking-btn-add:hover {
  background-color: #002169;
  cursor: pointer;
}

.manage-booking-list .main-content-list {
  margin: 0px;
}

.manage-booking-list .main-content-list-title {
  display: flex;
  justify-content: space-around;
}

.manage-booking-list .main-content-list-title-text {
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #eaecf0;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.content-list-body-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.manage-booking-list .main-content-list-body-wrapper {
}

.manage-booking-list .content-list-body-info {
  display: flex;
  justify-content: space-around;
}

.manage-booking-list .content-list-body-value {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #eaecf0;
  border-top: 1px solid #eaecf0;
  font-family: Roboto, sans-serif;
  padding-left: 10px;
  font-size: 16px;
}

.manage-booking-list .content-list-body-value .text-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.manage-booking-list .content-list-body-value:hover {
  opacity: 0.6;
}

.manage-booking-list .content-list-body-value .content-list-body-checkbox {
  width: 20px;
  height: 20px;
}

.manage-booking-list .pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.manage-booking-list .pagination_wrapper nav {
  margin-top: 70px;
  margin-bottom: 30px;
}

.manage-booking-list .modal-body-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.manage-booking-list .modal-body-section {
  margin: 10px 0;
  /* display: flex; */
  align-items: center;
}

.manage-booking-list .modal-body-section-type-user,
.manage-booking-list .modal-body-section-doctor-date,
.manage-booking-list .modal-body-section-type-pet {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.manage-booking-list .modal-body-section label {
  width: 70px;
}

.manage-booking-list .modal-body-section-wrapper label {
  margin-right: 10px;
}

.manage-booking-list .modal-body-section-wrapper span {
  margin: 0 20px 0 5px;
}

.manage-booking-list .choose-Doctor-wrapper {
  display: flex;
  align-items: center;
}

.manage-booking-list .choose-Doctor-wrapper input {
  margin: 0 10px;
}

.manage-booking-list .choose-Doctor-wrapper label {
  line-height: 25px;
  font-family: 'Roboto', sans-serif;
}

.manage-booking-list .choose-Doctor-Not-Found {
  color: red;
  text-align: center;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
}

.manage-booking-list .modal-body-manage-booking {
  background-color: #fff;
  border-color: #fff;
  font-family: Roboto, sans-serif;
  margin: 10px 20px 50px;
  display: flex;
  align-items: center;
}

.manage-booking-list .main-modal-content-manage-booking {
  width: 100%;
}

.manage-booking-list .content-modal-manage-booking {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

.manage-booking-list .content-modal-manage-booking:last-child {
  margin-top: 10px;
}

.manage-booking-list .grid-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 15px;
}

.manage-booking-list .font-weight-bold {
  font-weight: 600;
  font-size: 20px;
}

.manage-booking-list .title-reason-manage-booking {
  color: #004cb9;
  font-weight: 600;
}

.manage-booking-list .mb-3 {
  grid-row: span 2;
}

.manage-booking-list .close {
  color: #000;
  cursor: pointer;
}

.manage-booking-list .close:hover {
  color: #000;
}

.manage-booking-list .theme-color {
  color: #004cb9;
}
.manage-booking-list hr.new1 {
  border-top: dashed #fff;
  margin: 0.4rem 0;
}

.manage-booking-list .form-control {
  margin-top: 10px;
}

.manage-booking-list .error {
  color: red;
  font-size: 0.8em;
  margin-left: 18%;
}

.manage-booking-list .has-select-option {
  margin: 8px 0 5px 0px;
}

.manage-booking-list .has-select-option select {
  width: 200px;
}

.manage-booking-list .btn-add-services {
  width: 100px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: #ccc;
  font-size: 14px;
  height: 23px;
  border-radius: 5px;
  padding: 0 5px 0 3px;
  cursor: pointer;
}

.manage-booking-list .btn-add-services div {
  border: none;
  background-color: #ccc;
  font-size: 14px;
  line-height: 23px;
}

.manage-booking-list .service {
  margin: 10px 0;
}

.manage-booking-list .services-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.manage-booking-list .services-table th,
.services-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.manage-booking-list .services-table th {
  background-color: #f2f2f2;
}

.manage-booking-list .btn-remove-service {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.manage-booking-list .btn-remove-service:hover {
  background-color: darkred;
}

.manage-booking-list .search-owner-option-section,
.searchPetSection-child {
  display: flex;
  align-items: center;
}

.manage-booking-list .booking-page-main-content-header-filter-date {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 20px;
}

/* CSS for date filter */
.manage-booking-list .main-content-header-search-date {
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  outline: none;
}

.manage-booking-list .main-content-header-search-date:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.manage-booking-list .status-waiting {
  color: #007bff;
}

.manage-booking-list .status-checked-in {
  color: rgb(20, 205, 20);
}

.manage-booking-list .status-cancel {
  color: red;
}

.manage-booking-list .no-booking-this-date {
  width: 100%;
  border: 1px solid #eaecf0;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.manage-booking-list .content-list-body-info:last-child {
  border-bottom: 1px solid #eaecf0;
}

.manage-booking-list .add-service-paymentDetails {
  background-color: #1374ff;
  color: #fff;
  line-height: 25px;
  font-size: 13px;
  width: 90px;
  text-align: center;
  border-radius: 6px;
}

.manage-booking-list .dropdown-filter {
  position: relative;
  display: inline-block;
}

.manage-booking-list .menu-filter {
  background-color: #4a00e0;
  color: #ffffff;
  border: none;
  padding: 9px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.manage-booking-list .menu-filter:hover {
  background-color: #372da0;
}

.manage-booking-list .dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  min-width: 200px;
}

.manage-booking-list .dropdown-menu li {
  list-style-type: none;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
}

.manage-booking-list .filter-dropdown {
  display: flex;
  align-items: center;
}

.manage-booking-list .dropdown-menu input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4a00e0;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.manage-booking-list .dropdown-menu input[type='checkbox']:checked {
  background-color: #4a00e0;
}

.manage-booking-list .dropdown-menu input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
