.manage-booking-list .manage-booking-list-title {
  margin: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.manage-booking-list .manage-booking-list-title-text {
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #4f3c3c;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.manage-booking-list-content {
  padding: 0 !important;
  display: flex;
}

.manage-booking-list .manage-booking-main-content {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.manage-booking-list .main-content-header {
  display: flex;
  height: 100px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  border-left: 1px solid #dedddd;
  background-color: #ebebeb;
}

.manage-booking-list .main-content-header-search {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  gap: 4.63px;
}

.manage-booking-list .main-content-header-search-title {
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  margin-bottom: 0 !important;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
}

.manage-booking-list .main-content-header-search-input-wrapper {
  border: 1px solid #c3c3c3;
  align-items: center;
  gap: 14.43px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
}

.manage-booking-list .search-input-btn {
  position: absolute;
  width: 50px;
  height: 32px;
  right: 0px;
  top: 0;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.manage-booking-list .search-input-btn:hover {
  cursor: pointer;
}

.manage-booking-list .search-input-btn-icon {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 20px;
}

.manage-booking-list .main-content-header-search-input {
  border-radius: 5px;
  width: 350px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  overflow: hidden;
  border: none;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.manage-booking-list .main-content-header-search-input:focus {
  outline: none;
}

.manage-booking-list .main-content-header-add-booking {
  margin-right: 25px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.manage-booking-list .booking-btn-add {
  background-color: #e18213;
  height: 45px;
  outline: none;
  border: none;
  color: #fff;
  width: 100px;
  border-radius: 10px;
}

.manage-booking-list .booking-btn-add:hover {
  background-color: #002169;
  cursor: pointer;
}

.manage-booking-list .main-content-list {
  margin: 0px;
}

.manage-booking-list .main-content-list-title {
  display: flex;
  justify-content: space-around;
}

.manage-booking-list .main-content-list-title-text {
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #eaecf0;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.manage-booking-list .main-content-list-body-wrapper {
}

.manage-booking-list .content-list-body-info {
  display: flex;
  justify-content: space-around;
}

.manage-booking-list .content-list-body-value {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #eaecf0;
  border-top: 1px solid #eaecf0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.manage-booking-list .content-list-body-value:hover {
  opacity: 0.6;
}

.manage-booking-list .content-list-body-value .content-list-body-checkbox {
  width: 20px;
  height: 20px;
}

.manage-booking-list .pagination_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.manage-booking-list .pagination_wrapper nav {
  margin-top: 70px;
}

.manage-booking-list .modal-body-section-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.manage-booking-list .modal-body-section {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.manage-booking-list .modal-body-section-type-user,
.manage-booking-list .modal-body-section-doctor-date,
.manage-booking-list .modal-body-section-type-pet {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.manage-booking-list .modal-body-section label {
  width: 70px;
}

.manage-booking-list .modal-body-section-wrapper label {
  margin-right: 10px;
}

.manage-booking-list .modal-body-section-wrapper span {
  margin: 0 20px 0 5px;
}

.manage-booking-list .choose-Doctor-wrapper {
  display: flex;
  align-items: center;
  height: 25px;
  margin: 10px 0;
}

.manage-booking-list .choose-Doctor-wrapper input {
  margin: 0 10px;
}

.manage-booking-list .choose-Doctor-wrapper label {
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}

.manage-booking-list .choose-Doctor-Not-Found {
  color: red;
  text-align: center;
  line-height: 70px;
  font-family: "Roboto", sans-serif;
}
.manage-booking-list .modal-body-manage-booking {
  background-color: #fff;
  border-color: #fff;
  font-family: Roboto, sans-serif;
  margin: 30px 20px;
  display: flex;
  align-items: center;
}

.manage-booking-list .content-modal-manage-booking {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.manage-booking-list .grid-container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 15px;
}

.manage-booking-list .font-weight-bold {
  font-weight: 600;
  font-size: 20px;
}

.manage-booking-list .title-reason-manage-booking {
  color: #004cb9;
  font-weight: 600;
}

.manage-booking-list .mb-3 {
  grid-row: span 2; /* Để dòng này nằm riêng giữa hai phần trên và dưới */
}

.manage-booking-list .close {
  color: #000;
  cursor: pointer;
}

.manage-booking-list .close:hover {
  color: #000;
}

.manage-booking-list .theme-color {
  color: #004cb9;
}
.manage-booking-list hr.new1 {
  border-top: dashed #fff;
  margin: 0.4rem 0;
}

.manage-booking-list .form-control {
  margin-top: 10px;
}

.manage-booking-list .error {
  color: red;
  font-size: 0.8em;
}

.manage-booking-list .has-select-option{
  margin: 8px 0 5px 0px;
}

.manage-booking-list .has-select-option select{
  width: 200px;
}

.manage-booking-list .btn-add-services{
  width: 100px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: #ccc;
  font-size: 14px;
  height: 23px;
  border-radius: 5px;
  padding: 0 5px 0 3px;
  cursor: pointer;
}

.manage-booking-list .btn-add-services div{
  border: none;
  background-color: #ccc;
  font-size: 14px;
  line-height: 23px;
}

.manage-booking-list .service {
  margin: 10px 0;
}

.search-owner-option-section,
.searchPetSection-child{
  display: flex;
  align-items: center;
}