.main-header-user-overlap a {
  text-decoration: none !important;
}
.main-header-user-overlap {
  position: relative;
  padding: 0 !important;
  margin: 0;
}

.main-header-user-overlap .main-header-navigation {
  background-color: #002169;
  display: flex;
}

/* responsive */
.main-header-user-overlap .main-header-logo {
  height: 30px;
  object-fit: cover;
  margin: 14px 10px;
  padding-left: 20px;
}

/* responsive */
.main-header-user-overlap .main-header-menu {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header-user-overlap .header_link {
  text-align: center;
  padding: 10px 16px;
  margin: 0 20px;
}

.main-header-user-overlap .header_link-text {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main-header-user-overlap .header_link:hover .header_link-text {
  color: #e18213;
}

.main-header-user-overlap .main-header-user_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.main-header-user-overlap .main-header-user {
  position: relative;
}

.main-header-user-overlap .main-header-user-account:hover {
  cursor: pointer;
}

.main-header-user-overlap .main-header-user-account {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002169;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.main-header-user-overlap .account_icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.main-header-user-overlap .main-header-user-account-name {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px; /* Adjust the width as needed */
}

.main-header-user-overlap .main-header-user-account_menu {
  z-index: 1000;
  display: none;
  width: 130px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 42px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  white-space: nowrap;
  border: 1px solid #ccc;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(0, 0, 0, 0.05);
}

.main-header-user-overlap .main-header-user-account::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 137px;
  height: 27px;
}

.main-header-user-overlap
  .main-header-user-account:hover
  .main-header-user-account_menu {
  display: block;
  cursor: pointer;
}
.main-header-user-overlap
  .main-header-user-account:hover
  .main-header-user-account_menu::before {
  display: block;
}

.main-header-user-overlap .main-header-user-account_menu-item {
  color: #000;
  padding-left: 15px;
  font-size: 14px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.main-header-user-overlap
  .main-header-user-account_menu-item:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.main-header-user-overlap .main-header-user-account_menu-item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.main-header-user-overlap .main-header-user-account_menu-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}
