* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
a {
  text-decoration: none;
}

.your-pet .main-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0px;
}

.your-pet .text-tittle {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #425bb3;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60%;
}

.your-pet .overlap {
  display: flex;
  margin: 0;
  padding: 0;
}

.your-pet .your-Pet-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f3f3;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.your-pet .search-pet {
  padding-left: 20px;
}

.your-pet .search-pet-txt {
  font-size: 18px;
  margin: 10px 0;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  white-space: nowrap;
}

.your-pet .search-pet-input {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.your-pet .search-pet-input-icons {
  background-color: #ffffff;
  line-height: 33px;
  text-align: center;
  width: 40px;
  border: 1px solid #e4e3e3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.your-pet .search-pet-input-icons:hover {
  cursor: pointer;
}

.your-pet .search-pet-input input[type='text'] {
  height: 35px;
  width: 300px;
  outline: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
  padding-left: 10px;
  border: 1px solid #e4e3e3;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.your-pet .add-pet-button {
  display: flex;
  width: 100px;
  height: 44px;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  margin-right: 20px;
  color: #fff;
  background-color: #e18213;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Roboto, sans-serif;
}

.your-pet .add-pet-button:hover {
  background-color: #002169;
}

.your-pet .main-content {
  width: 100%;
  margin-bottom: 15%;
}

.your-pet .detail-information {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.your-pet .profile-card-pet {
  width: 240px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  font-family: Roboto, sans-serif;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.your-pet .profile-card-pet:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.your-pet .profile-pet-image {
  perspective: 1000px;
}

.profile-pet-image img {
  width: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.profile-card-pet:hover .profile-pet-image img {
  transform: rotateY(180deg);
}

.your-pet .profile-pet-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.your-pet .profile-info-pet {
  margin-top: 10px;
}

.your-pet .profile-info-pet div {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.your-pet .status-pet {
  display: inline-block;
  padding: 5px 10px;
  background-color: #e0f7fa;
  color: #00796b;
  border-radius: 15px;
  font-size: 14px;
}

.your-pet .no-pet-available {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  color: rgb(158, 38, 38);
}
