.Admin {
  background-color: #fafafa;
}

.Admin-Header {
  border-bottom: 1px solid #eae8f1;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 63px;
}

.Admin-Header-Logo {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Admin-Logo {
  width: 190px;
}

.Admin-Header-Account-Wrapper {
  border-left: 1px solid #eae8f1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: white;
}

.Admin-Header-Account {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Admin-Header-Admin:hover {
  transform: scale(1.1);
  color: #dd6637;
  cursor: pointer;
}

.Admin-Header-Account-Text {
  line-height: 25px;
  font-size: 16px;
  color: #000;
}
