.navigation {
  position: relative;
  height: 60px;
  background-color: #002169;
  display: flex;
  justify-content: space-between;
}

.text-wrapper {
  width: fit-content;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.22px;
  white-space: nowrap;
  margin-left: 15px;
}

.navigation-user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.navigation-user:hover {
  cursor: pointer;
}

.navigation-user::after {
  content: '';
  position: absolute;
  top: 16px;
  width: 100px;
  height: 27px;
}

.navigation-user:hover .navigation-user_notify {
  box-shadow: 1px 1px 1px #ccc;
  display: block;
  cursor: pointer;
}

.navigation-user_notify {
  position: absolute;
  display: none;
  top: 33px;
  right: 0;
  width: 130px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.navigation-user_notify::before {
  content: '';
  position: absolute;
  display: none;
  top: -9px;
  right: 30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.navigation-user:hover .navigation-user_notify::before {
  display: block;
  cursor: pointer;
}

.navigation-user_notify_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.navigation-user_notify_content:hover {
  background-color: #e9e9e9;
  border-radius: 5px;
}

.navigation-user_logout_icon {
  color: #fff;
}

.navigation-user_notify_content-text {
  padding-left: 16px;
  font-size: 18px;
  color: #000;
}

.male-user {
  position: absolute;
  width: 35px;
  height: 25px;
  top: 18px;
  right: 138px;
}

.text-wrapper-2 {
  height: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.navigation-user_icon {
  color: #fff;
  font-size: 24px;
  padding: 10px;
}
