/* Modal CSS */
.modal-choose-pet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-choose-pet.show {
  opacity: 1;
  visibility: visible;
}
.title-modal-choose-pet {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #002169;
}

.modal-choose-pet-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: left;
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.modal-choose-pet-content.show {
  transform: translateY(0);
  opacity: 1;
}

.modal-choose-pet-content form {
  display: flex;
  flex-direction: column;
}

.modal-choose-pet-content input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.modal-choose-pet-content select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.choose-pet-img-wrapper {
  width: 100%;
}

.choose-pet-img-wrapper input {
  border: none !important;
  padding: 5px 0 !important;
}

.choose-pet-input-wrapper {
  margin: 3px 0 0 0;
  width: 100%;
}

.choose-pet-input-wrapper input {
  width: 100%;
}

.choose-pet-input-wrapper select {
  width: 100%;
}

.choose-pet-input-text-title {
  margin: 8px 0 5px 5px;
}

.choose-pet-image-preview {
  width: 120px;
  border-radius: 50%;
  margin-left: 115px;
  margin-bottom: 10px;
}

.choose-img-pet {
}

.choose-pet-error-message {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 5px;
}

.button-modal-choose-pet {
  background: #e18213;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 10px 4px 0;
}

.button-modal-choose-pet:hover {
  background: rgb(52, 92, 48);
}
