.admin-DashBoard {
  background-color: #fafafa;
}

.Admin-DashBoard-NoContent {
  display: flex;
  line-height: 40px;
  border-bottom: 1px solid #eae8f1;
  border-right: 1px solid #eae8f1;
  border-left: 1px solid #eae8f1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding-left: 10px;
}
.Admin-DashBoard-Content {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.Admin-DashBoard-Navigate {
  padding: 0;
  position: relative;
}

.Admin-DashBoard-Navigate-Dashboard {
  font-family: Roboto, sans-serif;
  display: flex;
  height: 36px;
  align-items: center;
  margin: 10px 10px 5px 20px;
}

.Admin-DashBoard-Navigate-Text-Dashboard {
  color: #000;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.Admin-DashBoard-Navigate-Text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
}

.Admin-DashBoard-Navigate-Logout {
  color: #000;
  line-height: 42px;
  text-align: center;
  width: 100%;
  font-family: Roboto, sans-serif;
  position: absolute;
  bottom: 50px;
}

.Admin-DashBoard-Navigate-Logout:hover {
  color: rgb(70, 128, 255);
  cursor: pointer;
  background-color: #e3eafc;
}

.Admin-DashBoard-Navigate-Logout span {
  margin-left: 10px;
}

.Admin-DashBoard-Navigate-Text-Rest {
  font-family: Roboto, sans-serif;
}

.Admin-DashBoard-Navigate-Text-Rest-Menu {
  color: #000;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

.Admin-DashBoard-Navigate-Text-Rest-Menu:hover {
  color: rgb(70, 128, 255);
  cursor: pointer;
  background-color: #e3eafc;
}

.Admin-DashBoard-Main {
  padding: 0;
  background-color: #f1f5f9;
  border-left: 1px solid #f9f9fa;
}

.Admin-DashBoard-Main-Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.Admin-DashBoard-Main-Search-Input {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 35px;
  padding: 0 16px;
  border: none;
  background-color: #ecf0fa;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.Admin-DashBoard-Main-Search-Input:focus {
  outline: none;
}

.Admin-DashBoard-Main-Search-Button {
  background-color: #ecf0fa;
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Admin-DashBoard-Main-Table-Wrapper {
  margin: 50px 3%;
  padding: 0;
  border: 1px solid #eae8f1;
  border-radius: 10px;
  box-shadow: -2px 8px 18px #dadee8;
}

.Admin-DashBoard-Main-Table {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.Admin-DashBoard-Main-Table-Title {
  color: #242f48;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
}

.Admin-DashBoard-Main-Table-Title-Text {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin-bottom: 15px;
}

.Admin-DashBoard-Main-Table-Header {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-align: center;
  border-bottom: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title {
  width: 100%;
  background-color: #f1f5f9;
  line-height: 40px;
  padding: 0 0 0 10px;
  margin: 0;
  text-align: left;
  border-left: 1px solid #eae8f1;
  border-top: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title-Btn {
  line-height: 40px;
  width: 100%;
  background-color: #f1f5f9;
  padding: 0 0 0 10px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #eae8f1;
  border-top: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title-Btn:last-child {
  border-top-right-radius: 8px;
  border-right: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title:first-child {
  border-top-left-radius: 8px;
}

.Admin-DashBoard-Main-Table-Content-Row-Wrapper {
  display: flex;
  line-height: 40px;
  border-bottom: 1px solid #eae8f1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.Admin-DashBoard-Main-Table-Content-Row {
  width: 100%;
  border-left: 1px solid #eae8f1;
  padding: 0 0 0 8px;
  margin: 0;
}

.Admin-DashBoard-Table-status-booking {
  font-weight: bold;
}

.Admin-DashBoard-Table-status-waiting {
  color: blue;
}

.Admin-DashBoard-Table-status-cancel {
  color: red;
}

.Admin-DashBoard-Table-status-done {
  color: green;
}

.Admin-DashBoard-Table-Detail {
  width: 105%;
}

.Admin-DashBoard-Main-Table-Content-Btn_Wrapper {
  border-left: 1px solid #eae8f1;
  text-align: center;
  width: 100%;
  padding: 3px 0;
  margin: 0;
}

.Admin-DashBoard-Main-Table-Content-Btn_Wrapper:last-child {
  border-right: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Content-Btn {
  border: none;
  width: 123px;
  line-height: 30px;
  border-radius: 5px;
}

.Admin-DashBoard-Main-Table-Content-Btn:hover {
  color: rgb(70, 128, 255);
  cursor: pointer;
  background-color: #e3eafc;
}

.Admin-DashBoard-Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 10px 0;
}

.Admin-DashBoard-sub-title-profile-customer {
  padding-right: 5px;
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.Admin-DashBoard-form-group {
  display: flex;
  justify-content: left;
}

.Admin-DashBoard-sub-title-profile-pet {
  padding-right: 5px;
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.Admin-DashBoard-tab-modal-body-more-info {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.Admin-DashBoard-tab-modal-body-more-info button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.Admin-DashBoard-tab-modal-body-more-info button:hover {
  background-color: #ddd;
}

.Admin-DashBoard-tab-modal-body-more-info button.active {
  background-color: #f1f1f1;
  border-bottom: 2px solid #004cb9;
}

.Admin-DashBoard-container-modal-body-more-info {
  width: 100%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Admin-DashBoard-tabcontent-customer {
  margin-left: 20px;
}

.Admin-DashBoard-tabcontent-pet {
  margin-left: 20px;
}

.Admin-DashBoard-tabcontent-services {
  margin-left: 20px;
}
