.admin-DashBoard {
  background-color: #fafafa;
}

.admin-DashBoard-Header {
  border-bottom: 1px solid #eae8f1;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 63px;
}
.admin-DashBoard-Header-Logo {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-DashBoard-Header-Account-Wrapper {
  border-left: 1px solid #eae8f1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica;
  color: white;
}

.admin-DashBoard-Header-Account {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.admin-DashBoard-Header-Admin:hover {
  transform: scale(1.1);
  color: #dd6637;
  cursor: pointer;
}

.admin-DashBoard-Header-Account-Text {
  line-height: 25px;
  font-size: 16px;
  color: #000;
}

.Admin-DashBoard-Content {
  padding: 0;
  margin: 0;
}

.Admin-DashBoard-Navigate {
  padding: 0;
}

.Admin-DashBoard-Navigate-Dashboard {
  display: flex;
  height: 36px;
  align-items: center;
  margin: 10px 10px 5px 20px;
}

.Admin-DashBoard-Navigate-Text-Dashboard {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
}

.Admin-DashBoard-Navigate-Text {
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
}

.Admin-DashBoard-Navigate-Logout {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.Admin-DashBoard-Navigate-Text-Rest-Menu {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

.Admin-DashBoard-Navigate-Text-Rest-Menu:hover {
  color: #6f8ff8;
  background-color: #fff;
  cursor: pointer;
}

.Admin-DashBoard-Main {
  padding: 0;
  background-color: #ebeffa;
}

.Admin-DashBoard-Main-ChooseDate {
  display: flex;
    align-items: center;
  font-family: "Montserrat", Helvetica;
  margin: 50px 20px 0 100px;
}

.Admin-DashBoard-Main-ChooseDate_Text {
  margin-right: 10px;
}

.Admin-DashBoard-Main-Header {
  margin: 50px 0 0 0;
  font-family: "Montserrat", Helvetica;
  padding: 0;
  justify-content: space-evenly;
}

.Admin-DashBoard-Main-Header-Income {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  box-shadow: -8px 12px 18px #dadee8;
}

.Admin-DashBoard-Main-Header-Note {
  padding-top: 3%;
  color: #696cff;
  font-size: 16px;
}

.Admin-DashBoard-Main-Header-Money {
  line-height: 60px;
  font-size: 35px;
  font-weight: 600;
}

.Admin-DashBoard-Main-Header-Percent {
  padding-bottom: 3%;
  font-size: 16px;
  color: #828282;
}

.Admin-DashBoard-Main-Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  margin: 50px 0 20px 100px;
}

.Admin-DashBoard-Main-Search-Input {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 8px 16px;
  border: none;
  background-color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  box-shadow: -8px 12px 18px #dadee8;
}

.Admin-DashBoard-Main-Search-Input:focus {
  outline: none;
}

.Admin-DashBoard-Main-Search-Button {
  background-color: #fff;
  height: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Admin-DashBoard-Main-Table-Header .row {
  padding: 0;
  margin: 0;
}

.Admin-DashBoard-Main-Table {
  margin-left: 100px;
  margin-bottom: 100px;
  padding: 0;
  border: 1px solid #eae8f1;
  background-color: #fff;
  border-radius: 10px;
}

.Admin-DashBoard-Main-Table-Header {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", Helvetica;
  text-align: center;
  border-bottom: 1px solid #eae8f1;
}
.Admin-DashBoard-Main-Table-Header-Title {
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-right: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Content-Row-Wrapper {
  padding: 0;
  margin: 0;
  line-height: 40px;
  border-bottom: 1px solid #eae8f1;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  text-align: center;
}
.Admin-DashBoard-Main-Table-Content-Row-Wrapper .row {
  padding: 0;
  margin: 0;
}

.Admin-DashBoard-Main-Table-Content-Row {
  border-right: 1px solid #eae8f1;
  padding: 0;
  margin: 0;
}
