.admin-DashBoard {
  background-color: #fafafa;
}

.Admin-DashBoard-NoContent {
  display: flex;
  line-height: 40px;
  border-bottom: 1px solid #eae8f1;
  border-right: 1px solid #eae8f1;
  border-left: 1px solid #eae8f1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding-left: 10px;
}
.Admin-DashBoard-Content {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.Admin-DashBoard-Navigate {
  padding: 0;
  position: relative;
}

.Admin-DashBoard-Main {
  padding: 0;
  background-color: #f1f5f9;
  border-left: 1px solid #f9f9fa;
}

.Admin-DashBoard-Main-Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.Admin-DashBoard-Main-Search-Input {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 35px;
  padding: 0 16px;
  border: none;
  background-color: #ecf0fa;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.Admin-DashBoard-Main-Search-Input:focus {
  outline: none;
}

.Admin-DashBoard-Main-Search-Button {
  background-color: #ecf0fa;
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Admin-DashBoard-Main-Table-Wrapper {
  margin: 50px 3%;
  padding: 0;
  border: 1px solid #eae8f1;
  border-radius: 10px;
  box-shadow: -2px 8px 18px #dadee8;
}

.Admin-DashBoard-Main-Table {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.Admin-DashBoard-Main-Table-Title {
  color: #242f48;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
}

.Admin-DashBoard-Main-Table-Title-Text {
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin-bottom: 15px;
}

.Admin-DashBoard-Main-Table-Header {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-align: center;
  border-bottom: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title {
  width: 100%;
  background-color: #f1f5f9;
  line-height: 40px;
  padding: 0 0 0 10px;
  margin: 0;
  text-align: left;
  border-left: 1px solid #eae8f1;
  border-top: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title-Btn {
  line-height: 40px;
  width: 100%;
  background-color: #f1f5f9;
  padding: 0 0 0 10px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #eae8f1;
  border-top: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title-Btn:last-child {
  border-top-right-radius: 8px;
  border-right: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Header-Title:first-child {
  border-top-left-radius: 8px;
}

.Admin-DashBoard-Main-Table-Content-Row-Wrapper {
  display: flex;
  line-height: 40px;
  border-bottom: 1px solid #eae8f1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.Admin-DashBoard-Main-Table-Content-Row {
  width: 100%;
  border-left: 1px solid #eae8f1;
  padding: 0 0 0 8px;
  margin: 0;
}

.Admin-DashBoard-Table-status-booking {
  font-weight: bold;
}

.Admin-DashBoard-Table-status-waiting {
  color: blue;
}

.Admin-DashBoard-Table-status-cancel {
  color: red;
}

.Admin-DashBoard-Table-status-done {
  color: green;
}

.Admin-DashBoard-Table-Detail {
  width: 105%;
}

.Admin-DashBoard-Main-Table-Content-Btn_Wrapper {
  border-left: 1px solid #eae8f1;
  text-align: center;
  width: 100%;
  padding: 3px 0;
  margin: 0;
}

.Admin-DashBoard-Main-Table-Content-Btn_Wrapper:last-child {
  border-right: 1px solid #eae8f1;
}

.Admin-DashBoard-Main-Table-Content-Btn {
  border: none;
  width: 123px;
  line-height: 30px;
  border-radius: 5px;
}

.Admin-DashBoard-Main-Table-Content-Btn:hover {
  color: rgb(70, 128, 255);
  cursor: pointer;
  background-color: #e3eafc;
}

.Admin-DashBoard-Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 10px 0;
}

.Admin-DashBoard-sub-title-profile-customer {
  padding-right: 5px;
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.Admin-DashBoard-form-group {
  display: flex;
  justify-content: left;
}

.Admin-DashBoard-sub-title-profile-pet {
  padding-right: 5px;
  text-align: left;
  color: #000000;
  font-weight: 600;
}

.Admin-DashBoard-tab-modal-body-more-info {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.Admin-DashBoard-tab-modal-body-more-info button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.Admin-DashBoard-tab-modal-body-more-info button:hover {
  background-color: #ddd;
}

.Admin-DashBoard-tab-modal-body-more-info button.active {
  background-color: #f1f1f1;
  border-bottom: 2px solid #004cb9;
}

.Admin-DashBoard-container-modal-body-more-info {
  width: 100%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Admin-DashBoard-tabcontent-customer {
  margin-left: 20px;
}

.Admin-DashBoard-tabcontent-pet {
  margin-left: 20px;
}

.Admin-DashBoard-tabcontent-services {
  margin-left: 20px;
}

.Admin-DashBoard .dropdown-filter {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Admin-DashBoard .menu-filter {
  background-color: #4a00e0;
  color: #ffffff;
  border: none;
  padding: 9px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.Admin-DashBoard .menu-filter:hover {
  background-color: #372da0;
}

.Admin-DashBoard .dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  min-width: 200px;
}

.Admin-DashBoard .dropdown-menu li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
}

.Admin-DashBoard .dropdown-menu input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4a00e0;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.Admin-DashBoard .dropdown-menu input[type='checkbox']:checked {
  background-color: #4a00e0;
}

.Admin-DashBoard .dropdown-menu input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
