@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap');

.calendar-doctor-container {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.calendar-doctor-container .calendar-doctor-main-content {
  display: flex;
  flex-grow: 1;
  margin: 20px 50px;
}

.calendar-work-doctor {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
}

.calendar-work-doctor h1 {
  font-weight: 800;
  width: 100%;
  margin: 1rem 0 0;
  margin-bottom: 20px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px -3px 20px 7px rgba(81, 85, 129, 0.37);
  backdrop-filter: blur(4px);
  font-size: 20px;
  border-radius: 10px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.calendar-work-doctor label {
  margin-right: 0.5rem;
  color: #002169;
}

.time-doctor-choose {
  font-size: 18px;
  color: blue;
  margin-top: 10px;
}

.time-doctor-choose-holiday {
  font-size: 18px;
  color: grey;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.time-doctor-choose-selectTime {
  font-size: 18px;
  color: red;
  margin-top: 10px;
}

.calendar-work-doctor select {
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.calendar-work-doctor .calender-work-doctor-content-select {
  margin: 10px 0px;
}

.calendar-work-doctor .calender-work-doctor-content-select-week {
  margin: 25px 0px;
}

.calendar-work-doctor .calender-work-doctor-content-select-week span {
  color: #002169;
}

.selected-week-content {
  color: #002169;
}

.calendar-work-doctor ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  padding: 0;
}

.calendar-work-doctor ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  margin: 0.25rem;
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgb(134 129 203 / 25%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.calendar-work-doctor ul li:hover {
  transform: translateY(-5px);
}

.calendar-work-doctor ul li time {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
