.main-footer {
  margin-top: 80px;
  position: relative;
  background-color: #002169;
}

.main-footer_Info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 30px 0;
}

.main-footer_Info_Desc {
  display: flex;
  flex-direction: column;
}

.main-footer_logo {
  width: 200px;
  object-fit: cover;
}

.main-footer_Info_Desc-Contact {
  margin: 30px 0;
}

.main-footer_Info_Desc-Contact_Text {
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
}

.main-footer_Info_Desc-Address {
  margin: 20px 0;
}

.main-footer_FootSheep {
  width: 100px;
  object-fit: cover;
}

.main-footer_Info_Desc-Address_Text {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
}

.main-footer_Info_Time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer_Info_Time-Title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 20px;
}

.main-footer_Info_Text {
  margin: 2px 0px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.footer_form-subriber {
  width: 370px;
  height: 270px;
  background-color: #315194;
  border-radius: 50px;
}
.footer_form-subriber-title {
  align-items: center;
  margin: 20px;
  justify-content: center;
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 40px;
}

.footer_form-subriber-input {
  display: flex;
  margin: 10px auto;
  width: 320px;
  align-items: center;
  gap: 16px;
  background-color: #113179;
  border-radius: 8px;
  justify-content: center;
}

.footer_form-subriber-input_Email {
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  background-color: #002169;
  flex: 1;
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #828282;
  font-size: 16px;
  height: 40px;
  letter-spacing: 0;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-style: normal;
  outline: none;
}

.footer_form-subriber-button {
  margin: auto;
  display: flex;
  margin-top: 30px;
  width: 320px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  background-color: #e18213;
  border-radius: 8px;
}

.footer_form-subriber-button:hover {
  background-color: #002169;
  cursor: pointer;
}

.footer_form-subriber-button-text {
  width: fit-content;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}
