@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,600|Inter:500,var(--small-text-font-weight),var(--body-text-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
:root {
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-weight: 500;
  --small-text-font-size: 16px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
  --body-text-font-family: "Inter", Helvetica;
  --body-text-font-weight: 500;
  --body-text-font-size: 20px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 150%;
  --body-text-font-style: normal;
  --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.booking-container {
  top: 0;
  right: 0;
}

.booking-container .div {
  background-color: #f5f3f3;
}

.booking-container .container {
  margin: 70px 0;
}

.booking-container .book-title {
  margin: 70px 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #425bb3;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.booking-container .main-booking-menu {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #eae8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}

.booking-container .tittle-appointment {
}

.booking-container .tittle-booking-wrapper {
}

.booking-container .tittle-booking {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #425bb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.booking-container .select-booking {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.booking-container .patient_Input {
}

.patient_Input .select_Name {
  height: 20px;
}
.select_Payment .select_Name {
  margin-top: 30px;
}
.select_Name {
  margin-bottom: 5px;
  color: #828288;
  font-size: 20px;
}

.booking-container .name_input {
  padding: 0 12px;
  border: 1px solid #c1c1c1;
  outline: none;
  width: 100%;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #000;
  letter-spacing: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.booking-container .select_Booking {
  display: flex;
  width: 400px;
  height: 35px;
  align-items: center;
  border-radius: 8px;
}

.select-booking_left {
  margin-right: 40px;
}

.select-booking_right {
  margin-left: 40px;
}

.booking-container .select_Info {
  border: 1px solid #c1c1c1;
  width: 100%;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  letter-spacing: 0;
  padding: 0 10px;
  height: 35px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.booking-container .select-services {
}

.label-2 {
  font-size: 16px;
}

.booking-container .select_Doctors {
  margin-top: 30px;
}

.booking-container .available-tittle {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-container .available-tittle-text {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.booking-container .booked-slot {
  display: flex;
  width: 137px;
  height: 33px;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
}

.booking-container .square {
  height: 24px;
  margin-top: -3.62px;
  margin-bottom: -3.62px;
  object-fit: cover;
}

.booking-container .available-slot {
  display: flex;
  width: 137px;
  height: 33px;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
}

.booked-status {
  font-size: 18px;
}

.booking-container .booking-menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, minmax(150px, 0fr));
  gap: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #eae8e8;
  justify-content: center;
  align-items: center;
  place-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  margin: auto;
  padding: 10px;
}

.booking-container .element-button-red {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: #c02b0a;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

.booking-container .element-button-green {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: #0ac074;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
}

.booking-container .p {
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.element-button-green:hover {
  opacity: 0.8;
  cursor: pointer;
}

.element-button-red:hover {
}

.booking-container .booking-pay-money {
}

.booking-container .booking-pay-money-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 50px auto;
}

.booking-container .booking-pay-money-text {
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.booking-container .booking-pay-money-price {
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.booking-container .CONFIRM-BOOK {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 13px 24px 14px;
  border: none;
  background-color: #e18213;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
  transition: background-color 0.3s;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

.booking-container .CONFIRM-BOOK:hover {
  background-color: #002169;
  cursor: pointer;
}

.booking-container .BOOKING-NOW {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
