.manage-doctor-container {
  font-family: Roboto, sans-serif;
}

.manage-doctor-container h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}

.manage-doctor-container #dropdown-doctor-name {
  margin-left: 30px;
  width: 300px;
}

.manage-doctor-container .dropdown-menu-doctor {
  width: 300px;
}

.manage-doctor-container .schedule-details {
  margin-top: 20px;
}

.manage-doctor-container .title-working-hours {
  margin-left: 30px;
}

.manage-doctor-container .date-picker {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 20px;
}

.manage-doctor-container .date-picker label {
  margin-right: 10px;
}

.manage-doctor-container #date {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.manage-doctor-container .status-working-filter {
  margin-left: 30px;
}

.manage-doctor-container .control-filter-status {
  margin-left: 30px;
  width: 300px;
}

.manage-doctor-container .error-slot-text {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 25px;
}

.manage-doctor-container .slot-time {
  font-size: 20px; 
  font-weight: bold; 
}


.manage-doctor-container .slots-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1100px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manage-doctor-container .slots-list::before {
  margin-left: 30px;
}

.manage-doctor-container .title-working-time-slot {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.manage-doctor-container .slot-item {
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #6495ED;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: calc(25% - 25px); 
  height: 260px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.manage-doctor-container .slot-item:hover {
  background-color: #92B9E3;
  transform: scale(1.05);
}

.manage-doctor-container .slot-item.booked {
  background-color: #6c7ee1;
}

.manage-doctor-container .bookings-list {
  margin-top: 10px;
}

.manage-doctor-container .booking-item {
  padding: 5px;
  border-radius: 10px;
  background-color: #92b9e3;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-doctor-container .booking-item:hover {
  background-color: #76b9f8;
}

.manage-doctor-container .booking-item div {
  margin-bottom: 3px;
}

.manage-doctor-container .modal-content {
  padding: 20px;
}

.manage-doctor-container .grid-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.manage-doctor-container .content-modal-manage-booking {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.manage-doctor-container .content-modal-manage-booking-customer .reason-manage-booking {
  font-weight: bold;
  color: #001c44;
  font-size: 24px;
}

.manage-doctor-container .reason-manage-booking-customer {
 font-size: 20px;
}

.manage-doctor-container .reason-manage-booking-pet {
  font-size: 20px;
}

.manage-doctor-container .reason-manage-booking-service {
  font-size: 20px;
}

.manage-doctor-container .reason-manage-booking-payment {
  font-size: 20px;
}

.manage-doctor-container .grid-container .content-modal-manage-booking-customer {
  margin-bottom: 20px;
}

.manage-doctor-container .grid-container .content-modal-manage-booking-pet {
  margin-bottom: 20px;
}

.manage-doctor-container .content-modal-manage-booking-service {
  margin-bottom: 20px;
}

.manage-doctor-container .content-modal-manage-booking-payment {
  margin-bottom: 20px;
}

.manage-doctor-container .title-total-cost {
  font-weight: bold;
  color: #001c44;
  font-size: 24px;
}

.manage-doctor-container .booking-item .status {
  font-weight: bold;
}

.manage-doctor-container .booking-item .status.Pending {
  color: #ffcc6e;
}

.manage-doctor-container .booking-item .status.BeingExamined {
  color: blue;
}

.manage-doctor-container .booking-item .status.Done {
  color: green;
}

.manage-doctor-container .booking-item .status.NotPaid {
  color: red;
}

.manage-doctor-container .booking-item .status.PaymentCancelled {
  color: darkred;
}

.manage-doctor-container .booking-item .status.Cancelled {
  color: gray;
}

.manage-doctor-container .back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.manage-doctor-container .back-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}



